# --- Python ---
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
entities/__pycache__

# --- Ambientes Virtuais (Venv) ---
# Adicione aqui o nome da sua pasta de ambiente virtual se for diferente
venv/
env/
ENV/
.env/
.venv/

# --- VS Code ---
.vscode/
*.code-workspace

# --- Pygame / Assets Gerados Automaticamente ---
# Ignora o JSON gerado pelo importer, pois ele pode ser regerado
pokemon_data.json

# OPCIONAL: Ignorar a pasta assets se as imagens forem baixadas pelo script.
# Se você quiser versionar as imagens (para quem baixar o repo já jogar),
# remova a linha abaixo. Se quiser economizar espaço no Git, mantenha.
assets/
.png

# --- Sistema Operacional ---
.DS_Store
Thumbs.db
